# macOS
.DS_Store

# Windows
Thumbs.db

# Linux
*~

# Logs
*.log

# Environment
.env
.env.*

# Node
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Temporary
tmp/
temp/
